<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <title>My Product</title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
</head>
<body ng-controller="productController">
    Search <input type="text" ng-model="search.$" />
    <br /><br />
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="product in result.data | filter:search">
            <td>{{product.Id}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.Qty}}</td>
        </tr>
    </table>
    <script>
        var myapp = angular.module('myapp', []);
        myapp.controller('productController', function ($scope, $http) {
            $http.get('http://localhost:52455/api/Product').then(function (response) {
            $scope.result = response;
            });
        });
    </script>
</body>
</html>
